* {
	padding:0;
    margin:0;    
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Tahoma, "Geneva", sans-serif    
}

#alert{    
    padding:30px!important;
    background-color: white;
    position: absolute;    
    z-index: 2000;    
    visibility: hidden;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

::-webkit-file-upload-button {
    background: #2C3B54;
    border: 0px;
    color: white;
    padding: 10px;
}
::-webkit-file-upload-button:hover {
    background: #0569B3;
    cursor:pointer;
}
#alert input:hover{
    border-color:#0569B3;
}
#alert li{
    list-style-position: outside;
    padding-left: 1em;
}

#alert li ul{
    list-style-position: outside;
    padding-left: 1em;
}

#alert hr{
    margin-bottom: 20px;
}

#alert table{
    width: 100%;
}

#alert tr:hover {
    background-color: #81B3FF;
} 

#alert table th{
    padding: 15px;
    text-align: left;
}

#alert table td {
    padding: 15px;
    text-align: left;
}

#exit{
    float:right;
}

#exit:hover{
    color:red;
    cursor:pointer;
}

body{
    overflow-y: hidden;
}

header {
    width: 100%;
    background:#2C3B54;
    font-size: 13px;
}

header ul {
	list-style:none;
}

header ul li {
	display:inline-block;
    position: relative;
}

header ul li:hover {
    background:#0569B3;
    transition: 0.3s;
    cursor:pointer;
}

header ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
    padding: 20px;
    width:170px;
}

header i {
    float: left;
    margin-top: 2px;
    margin-right:10px;
}

header ul li:hover .children {
	display:block;
}

header ul li .children {
	display: none;
	background:#2C3B54;
	position: absolute;
	width: 100%;
}

header ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header ul li .children li a {
	display: block;
}

header ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}


.tabs_container{
    width: 100%;
    height: 30px;    
    background-color: #48618A;
    margin-top: 1px;
    padding-left: 50px;
}

.container{
    width: 100%;
    height: 610px;
    background-color: black;
    overflow: hidden;
}

.tab{
    background-color:  #48618A;
    font-size: 13x;
    padding:0px;
    border: none;
    outline: none;
    cursor: pointer;    
    color: white;
    vertical-align: middle;
    width: auto;
    height:30px;
    padding-left: 8px;
    padding-right: 8px;
}

.tab:hover{
    background:#2C3B54;
    cursor: pointer;
    transition:0.3s;    
}

.tab i{    
    margin-left: 20px !important;
    margin-top:3px;    
}

.tab i:hover{
    color:red;
    cursor: pointer;
    transition:0.2s;
}

/* Remove default bullets */
#alert ul, #myUL {
    list-style-type: none;    
  }
  
  /* Remove margins and padding from the parent ul */

  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: #2C3B54;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }
